@model Aanand_mvc_project.Models.Customer;

@{
}
<div class="row">
    <div class="col-6 offset-3">
        <form asp-action="Edit" asp-controller="Customer" method="post">
            <div class="from-group">
                <label>Name</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="from-group">
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="from-group">
                <label>Address</label>
                <input asp-for="Address" class="form-control" />
            </div><br />
            <div class="from-group">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
